.container{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: calc(100vh - 66px);

  .form_container{
    width: 40%;

    ::ng-deep{
      p-dropdown{
        .p-dropdown{
          width: 60%;
        }
        .p-dropdown-items{
          margin: 0;
          padding: 15px;
        }
      }
    }
    input,select{
      margin: 10px 0;
      padding: 12px;
    }
    button{
      width: 100%;
      margin: 20px 0;
    }
  }
}

@media (max-width: 767px) {
  .container{
    .form_container{
      width: 100%;
    }
  }
}
