.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 66px);

  .myTable{
    padding: 40px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;

    .loader{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /* background-color: #ffffff6f; */
      background-color: #fff;
      z-index: 999;

      .spinner-border{
        width: 70px;
        height: 70px;
        border-block-color: #b8b8b8;
        border-left-color: #b8b8b8;
      }
    }

    table{
      td,th{
        padding: 10px 20px;
        i{
          cursor:pointer;
        }
      }
    }
  }


}
