.container{
  .takeExam{
    height: calc(100vh - 66px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .content{
      width: 50%;
      text-align: center;

      h2{
        margin-bottom: 60px;
      }

      ul,p{
        text-align: left;
      }

      p{
        margin: 30px 0;
      }
      b{
        color: #1C4498;
      }

      button{
        transition: all 0.3s ease-in-out;
        padding: 10px 40px;
      }

      button:hover{
        background-color: #fff !important;
        border: 1px solid #4A3AFF !important;
        color: #4A3AFF !important;
      }
    }
  }
}

@media(max-width: 767px){
  .container{
    .takeExam{
      .content{
        width: 100%;
      }
    }
  }
}
