<div class="contact">
  <div class="container text-center">
    <h2>Reset Password</h2>
    <p>Enter your email for a password reset link.</p>
    <form [formGroup]="forgetPasswordForm">
      <div class="form-group">
        <input type="email" placeholder="Email" class="form-control" formControlName="email">
        @if(forgetPasswordForm.get("email")?.errors && forgetPasswordForm.get("email")?.touched){
          <ul class="list-unstyled">
            @if(forgetPasswordForm.get('email')?.getError('required')){
              <li class="text-danger text-start">please, Enter your Email</li>
            }
            @if(forgetPasswordForm.get('email')?.getError('email')){
              <li class="text-danger text-start">Please, Enter a valid email</li>
            }
          </ul>
        }
        <button type="submit" [disabled]="forgetPasswordForm.invalid || isLoading" class="btn bg-main text-white" (click)="handleForgetPassword(forgetPasswordForm)">
          @if(isLoading){
            <i class="fa fa-spinner fa-spin"></i>
          }
          Send Reset Link
        </button>
        <p-toast position="bottom-center" key="bc"/>
        <a routerLink="/pages/login" class="color-main">Back to login</a>
      </div>
    </form>
  </div>

</div>
