<div class="container">
  <div class="mySelect">
    <p-dropdown [options]="examsName" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true"
      (onChange)="handleDropDown($event)" placeholder="Select an exam">
      <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-2">
          <div>{{ selectedOption.name }}</div>
        </div>
      </ng-template>
    </p-dropdown>

    @if(examId) {
    <input type="text" class="form-control mt-2" placeholder="Search by student name..." [(ngModel)]="searchTerm"
      (input)="onSearch()" />
    }
  </div>
  <div class="myTable">
    @if(isLoading){
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    }
    <div class="table-responsive">
      <table class="table align-middle">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col">Name</th>
            <th scope="col">Exam</th>
            <th scope="col" class="text-center">Score</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center">Reset Exam</th>
            <th scope="col" colspan="2" class="text-center">View</th>
          </tr>
        </thead>
        <tbody>
          @if(filteredResults.length === 0){
          <tr>
            <td colspan="8">
              <div class="nothing_found">
                <h4 class="text-center text-danger my-5">No users founded!</h4>
              </div>
            </td>
          </tr>
          }
          @for(res of filteredResults | alphabeticalOrder; track res.userName; let i=$index){
          <tr>
            <th scope="row" class="text-center">{{i+1}}</th>
            <td>{{res.userName}}</td>
            <td>{{res.examName}}</td>
            <td class="text-center">{{res.score}} out of {{total_mark}}</td>
            <td class="text-white text-center" [ngClass]="{
                    'bg-success': res.score >= passMark,
                    'bg-danger': res.score < passMark
                  }">
              {{ res.score >= passMark ? 'Success' : 'Fail' }}
            </td>
  
            <td class="text-center">
              <button class="btn btn-outline-info btn-sm" (click)="handleReset(res)">
                Reset
              </button>
            </td>
            <td colspan="2">
              <div class="d-flex gap-2 justify-content-center align-items-center">
                <button class="btn btn-outline-info btn-sm" (click)="viewAnswers(res)">
                  View Answers
                </button>
                <button class="btn btn-outline-info btn-sm" (click)="viewImage(res)">
                  View Image
                </button>
              </div>
            </td>
          </tr>
  
          }
          <tr>
            <td colspan="8">
              <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="1" [totalRecords]="totalPages" />
            </td>
          </tr>
        </tbody>
        <p-toast position="bottom-center" key="bc" />
      </table>
    </div>
  </div>
</div>