<div class="contact">
  <div class="container text-center">
    <h2>Create New Password</h2>
    <p>Enter your new password.</p>
    <form [formGroup]="newPasswordForm">
      <div class="form-group">
        <div class="showPassword">
          <input [type]="showPassword == true?'text':'password'" placeholder="New Password" formControlName="password" class="form-control">
          <i *ngIf="!showPassword" (click)="showPassword = true" class="fas fa-eye main-color cursor-pointer"></i>
          <i *ngIf="showPassword" (click)="showPassword = false" class="fas fa-eye-slash main-color cursor-pointer"></i>
        </div>
        @if(newPasswordForm.get("password")?.errors && newPasswordForm.get("password")?.touched){
          <ul class="list-unstyled">
            @if(newPasswordForm.get("password")?.getError("required")){
              <li class="text-danger text-start">This feild is required</li>
            }
            @if(newPasswordForm.get("password")?.getError("pattern")){
              <li class="text-danger text-start">Password must have at least 8 char includs one of (special char, uppercase, number)</li>
            }
          </ul>
        }
        <div class="showPassword">
          <input [type]="showRePassword == true?'text':'password'" placeholder="Confirm Password" formControlName="rePassword" class="form-control">
          <i *ngIf="!showRePassword" (click)="showRePassword = true" class="fas fa-eye main-color cursor-pointer"></i>
          <i *ngIf="showRePassword" (click)="showRePassword = false" class="fas fa-eye-slash main-color cursor-pointer"></i>
        </div>
        @if(newPasswordForm.get("rePassword")?.errors && newPasswordForm.get("rePassword")?.touched){
          <ul class="list-unstyled">
            @if(newPasswordForm.get("rePassword")?.getError("required")){
              <li class="text-danger text-start">This feild is required</li>
            }
            @if(newPasswordForm.get("rePassword")?.getError("repasswordMatch")){
              <li class="text-danger text-start">password and confirm password doesnt matched</li>
            }
          </ul>
        }
        <button type="submit" [disabled]="newPasswordForm.invalid || isLoading" (click)="handleNewPassword(newPasswordForm)" class="btn bg-main text-white">
          @if(isLoading){
            <i class="fa fa-spinner fa-spin"></i>
          }
          Submit
        </button>
      </div>
    </form>
    <p-toast position="bottom-center" key="bc"/>
  </div>

</div>
