.container{

  h3{
    margin: 30px 0 60px 0;
  }

  .exam_card{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 30px 40px;
    margin: 30px;

    h4{
      margin: 10px 0;
    }

    .rightSide{
      img{
        width: 25px;
        margin: 10px;
      }
      span{
        font-size: 18px;
        font-weight: bold;
      }
    }

    .btns{
      button{
        margin: 0 10px ;
      }
    }
  }
}

@media (max-width: 767px) {
  .container{
    .exam_card{
      padding: 5px;
      margin: 10px 0;

      .rightSide{
        img{
          margin: 5px;
        }
        span{
          font-size: 16px;
          font-weight: bold;
        }
      }
    }


  }
}

