<div class="container">
  <div class="myForm">
    <h3>Add New<br> Category</h3>
    
    <!-- Manual Category Form -->
    <form [formGroup]="addCategoryForm">
      <input type="text" class="form-control" formControlName="category" placeholder="Category Name">
      @if(addCategoryForm.get('category')?.errors && addCategoryForm.get('category')?.touched){
        <ul class="list-unstyled">
          @if(addCategoryForm.get('category')?.getError('required')){
            <li class="text-danger text-start">Please, enter your category</li>
          }
        </ul>
      }
      
      <button class="btn bg-main text-white" 
              [disabled]="addCategoryForm.invalid" 
              (click)="handleGenerate(addCategoryForm)">
        @if(isLoading){
          <i class="fa fa-spinner fa-spin"></i>
        }
        Generate
      </button>
    </form>

  </div>
</div>
