<nav class="navbar bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#"><img src="images/logo.svg" alt="logo"></a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row">
        <li class="nav-item mx-3">
          <a class="nav-link" routerLink="/" fragment="about" (click)="scrollTo('about')">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  <div class="container">
    <div class="foot text-center w-100 mt-3">
      <p>&copy; Examer. We Love Our Users ❤️</p>
    </div>
  </div>
</nav>
