<div class="container-fluid">
  <div class="row">
    <div class="col-3 d-none d-md-block">
      <div class="side_bar bg-main">
        <img src="images/logo2.svg" alt="logo" class="img-fluid">
        <ul class="list-unstyled">
          <li [ngClass]="{'active': activeSec === 'exams'}" (click)="setActivity('exams')" routerLink="/dashboard/admin/exams"><span><img src="images/exams.png"> All Exams</span></li>
          <li [ngClass]="{'active': activeSec === 'newExam'}" (click)="setActivity('newExam')" routerLink="/dashboard/admin/newExam"><span><img src="images/new.png"> Add New Exam</span></li>
          <li [ngClass]="{'active': activeSec === 'users'}" (click)="setActivity('users')" routerLink="/dashboard/admin/users"><span><img src="images/users.png"> Active Users</span></li>
          <li [ngClass]="{'active': activeSec === 'addUser'}" (click)="setActivity('addUser')" routerLink="/dashboard/admin/addUser"><span><img src="images/addUser.png"> Add New User</span></li>
          <li [ngClass]="{'active': activeSec === 'score'}" (click)="setActivity('score')" routerLink="/dashboard/admin/score"><span><img src="images/score.png"> All Scores</span></li>
          <li [ngClass]="{'active': activeSec === 'deletedUsers'}" (click)="setActivity('deletedUsers')" routerLink="/dashboard/admin/deletedUsers"><span><img src="images/delete.png"> Deleted Users</span></li>
        </ul>
        <ul class="list-unstyled">
          <li [ngClass]="{'active': activeSec === 'changeInfo'|| activeSec === 'changePass'}" (click)="setActivity('changeInfo')" routerLink="/dashboard/admin/profile"><span><img src="images/profile.png"> Profile</span></li>
          <li (click)="handleLogOut()"><span><img src="images/logout.png"> Logout</span></li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 ms-auto col-sm-12">
      <nav class="navbar">
        <div class="container">
          <button class="navbar-toggler d-md-none d-sm-block" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink="/dashboard/admin/exams">All Exams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/admin/newExam">New Exam</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/admin/users">All Users</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/admin/addUser">Add User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/admin/score">All Scores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/dashboard/admin/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" (click)="handleLogOut()">Logout</a>
              </li>
            </ul>
          </div>
          <span class="ms-auto username">{{adminName | uppercase | adminName}}</span>
        </div>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


