.side_bar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 22%;
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  align-items: center;
  color: #fff;
  padding-bottom: 0;

  ul {
    width: 100%;
    margin-bottom: 0;
    
    &:first-of-type {
      flex: 1;
    }
    
    &:last-of-type {
      margin-top: auto;
      // padding-top: 24px;
      // border-top: 1px solid rgba(255, 255, 255, 0.15);
    }

    li {
      height: 60px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      padding-left: 15px;
      //padding-top: 30px;

      img {
        margin-right: 10px;
        
      }

      span {
        flex: 1;
        text-align: left;
        padding: 5px 40px;
        
      }

      &.active::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 5px;
        height: 100%;
        background-color: #eee;
        border-radius: 0 10px 10px 0;
      }

      // Parent menu styles
      &.parent-menu {
        flex-direction: column;
        height: auto;
        padding-left: 0;
        align-items: flex-start;

        .menu-header {
          width: 100%;
          height: 60px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 15px;
          padding-right: 15px;
          cursor: pointer;
          transition: background 0.2s ease;

          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }

          span {
            display: flex;
            align-items: center;
            padding: 5px 40px;
          }

          .chevron {
            width: 20px;
            height: 20px;
            transition: transform 0.3s ease;
            margin-right: 15px;

            &.rotated {
              transform: rotate(180deg);
            }
          }
        }

        // Submenu styles
        .submenu {
          width: 100%;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
          background: rgba(0, 0, 0, 0.15);
          

          &.show {
            max-height: 500px;
          }

          li {
            height: 50px;
            padding-left: 45px;

            span {
              padding: 5px 20px;
              font-size: 15px;
            }

            &:hover {
              background: rgba(255, 255, 255, 0.08);
            }

            &.active::before {
              display: none;
            }
          }
        }
      }
    }
  }
}

// .side_bar ul:first-of-type {
//   margin-top: 30px;
// }

.navbar {
  .container {
    .username {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #4A3AFF;
      color: #fff;
      font-weight: 600;
      font-size: 22px;
    }
  }
}

@media (max-width: 1290px) {
  .side_bar {
    width: 25%;

    ul {
      li {
        span {
          padding: 5px 20px;
        }

        &.parent-menu {
          .menu-header {
            span {
              padding: 5px 20px;
            }
          }

          .submenu {
            li {
              span {
                padding: 5px 10px;
              }
            }
          }
        }
      }
    }
  }
}