.navbar{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 9999999;
}
.navbar-nav{
  .nav-item{
    .nav-link{
      margin: 0 10px;
    }
    .nav-link.active::after{
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: #4A3AFF;
      margin-top: 7px;

    }

    button{
      width: 100%;
      padding: 13px 20px;
      transition: all 0.3s ease-in-out;

      &:hover{
        background-color: #fff !important;
        color: #4A3AFF !important;
        border: 1px solid #4A3AFF !important;
      }
    }

  }

}
.fix{
  height: 82px;
}
