<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="content">
          <h1>Take Online<br> Exam</h1>
          <p>Number Of Active User Right Now</p>
          <span class="color-main">200+</span>
        </div>
      </div>

      <div class="col-6 d-none d-lg-block">
        <div class="image">
          <img src="images/home.svg" alt="home-image" class="img-fluid">
        </div>
      </div>

    </div>
  </div>
</section>

<section class="features bg-main ">

  <div class="container">
    <div class="row justify-content-evenly">
      <div class="col-lg-3 col-md-4">
        <div class="content text-center">
          <img src="images/automation.svg" alt="automation" class="img-fluid">
          <h3>Automation</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="content text-center">
          <img src="images/controll.svg" alt="control" class="img-fluid">
          <h3>Easy Control</h3>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="content text-center">
          <img src="images/performance.svg" alt="performance" class="img-fluid">
          <h3>Performance<br> Traking</h3>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="about" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="content">
          <h3>You’re in good company</h3>
          <p>Examer is dedicated to transforming exams by providing a secure and accessible online platform for students, educators, and professionals worldwide. We offer flexible scheduling, automated grading, and proctoring tools to ensure secure, fair assessments anytime, anywhere.</p>
        </div>
      </div>
      <div class="col-4 d-none d-md-block">
        <div class="image">
          <img src="images/about.svg" alt="about" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
