.side_bar {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 22%;
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;

  ul {
    width: 100%;
    li {
      height: 60px;
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      padding-left: 15px; // Space for ::before

      img {
        margin-right: 10px;
        width: 22px;
      }

      span {
        flex: 1;
        text-align: left;
        padding: 5px 40px;
      }

      &.active::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 5px;
        height: 100%;
        background-color: #eee;
        border-radius: 0 10px 10px 0;
      }
    }
  }



}
.navbar{
  .container{
    .username{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #4A3AFF;
      color: #fff;
      font-weight: 600;
      font-size: 22px;
    }
  }
}

@media (max-width: 1290px) {
  .side_bar{
    width: 25%;

    ul{
      li{
        span{
          padding: 5px 20px;
        }
      }
    }
  }
}
